# Server
PORT=8080
ORIGIN=http://localhost:5173

# Database
MONGODB_URI=mongodb://mongo:27017/ai-crypto

# Auth
JWT_SECRET=change_me_in_production

# CoinGecko
COIN_GECKO_URL=https://api.coingecko.com/api/v3/simple/price
CG_API_KEY=your_coingecko_demo_api_key

# CryptoPanic
CRYPTOPANIC_URL=https://cryptopanic.com/api/v1/posts/
CRYPTOPANIC_TOKEN=your_cryptopanic_token

# OpenRouter (AI insights)
OPENROUTER_URL=https://openrouter.ai/api/v1/chat/completions
OPENROUTER_KEY=your_openrouter_api_key

# Reddit (memes)
REDDIT_ACCESS_TOKEN=https://www.reddit.com/api/v1/access_token
REDDIT_CLIENT_ID=your_reddit_client_id
REDDIT_CLIENT_SECRET=your_reddit_client_secret
REDDIT_CRYPTO_CURRENCY_MEMES_URL=https://oauth.reddit.com/r/CryptoCurrencyMemes/hot
REDDIT_BASE_URL=https://www.reddit.com
